:root {
  --green: rgb(39, 189, 39);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
}

h2 {
  margin-bottom: 1rem;
}

button {
  padding: 0.25rem 1rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

button.primary {
  background-color: var(--green);
  color: white;
}

/* .app {
  margin: 0 auto;
  max-width: 1200px;
} */

header h1 {
  font-size: 2.5em;
  font-weight: 900;
  text-align: center;
  padding: 0.5rem 0;
}

.logo {
  font-size: 1.25em;
  padding-left: 0.5rem;
  color: transparent;
  text-shadow: 0 0 0 var(--green);
}

main {
  padding: 0 1rem;
}

.new-plant-form {
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-color: rgba(181, 250, 181, 0.5);
}

.new-plant-form form {
  display: flex;
  justify-content: center;
}

.new-plant-form input {
  margin-right: 2rem;
  flex: 1;
}

.new-plant-form button {
  width: 150px;
}

.searchbar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  display: block;
}

input {
  padding: 0.25rem;
  border: none;
  font-family: inherit;
  font-size: 1.2em;
  border-bottom: 2px solid gray;
  transition: all 0.2s;
  width: 100%;
}

input:focus {
  outline: none;
  border-bottom: 2px solid var(--green);
}

.cards {
  list-style: none;
}

.card {
  margin: 1rem;
}

.card img {
  width: 100%;
}

.card button {
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .cards {
    display: flex;
    flex-wrap: wrap;
  }

  .card {
    width: calc(33% - 2rem);
  }
}

@media (min-width: 1024px) {
  .card {
    width: calc(25% - 2rem);
  }
}

@media (min-width: 1200px) {
  .card {
    width: calc(20% - 2rem);
  }
}

/* From Uiverse.io by sabbircoder07 */ 
.progress {
  display: flex;
  gap: 5px;
  background: none;
  align-items: center;
  justify-content: center;
  text-align: center;
  width:100%;
  height: 300px;
  margin-top: 10%;
  backface-visibility: hidden;
}

.inner:nth-child(1),
.inner:nth-child(2),
.inner:nth-child(3),
.inner:nth-child(4),
.inner:nth-child(5) {
  min-height: 20px;
  min-width: 20px;
  border-radius: 3px;
  animation: progress 1.2s ease-in infinite;
}

.inner:nth-child(1) {
  background-color: #2193b0;
  animation-delay: 0.15s;
}

.inner:nth-child(2) {
  background-color: #48b1bf;
  animation-delay: 0.25s;
}

.inner:nth-child(3) {
  background-color: #56ab2f;
  animation-delay: 0.35s;
}

.inner:nth-child(4) {
  background-color: #614385;
  animation-delay: 0.45s;
}

.inner:nth-child(5) {
  background-color: #185a9d;
  animation-delay: 0.55s;
}

@keyframes progress {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }

  50% {
    transform: translateY(-60px);
    opacity: 0.8;
  }

  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

/* From Uiverse.io by elijahgummer */ 
#container {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    #3498db,
    #2ecc71
  ); /* Gradient background */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
  border-radius: 10px; /* Rounded corners */
  position: relative;
  overflow: hidden;
}

#container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.1) 1px,
      transparent 1px
    ),
    linear-gradient(rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
  pointer-events: none; /* Allow clicking through the pattern layer */
}

/* From Uiverse.io by martinval9 */ 
.card {
  background: rgb(40,40,55);
  background: linear-gradient(344deg, rgba(40,40,55,1) 0%, rgba(16,16,18,1) 50%);
  box-shadow: 4px 6px 14px #00000036;
  border-radius: 3px;
  color: #F9F9F9;
  padding: 16px;
  transition: all .3s;
 }
 
 .card:hover {
  margin-top: -30px;
 }
 

